@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Common.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@inject IMemberExternalLoginProviders memberExternalLoginProviders
@inject ITwoFactorLoginService twoFactorLoginService
@{
	Layout = "master.cshtml";
    var loginModel = new LoginModel();
    // You can modify this to redirect to a different URL instead of the current one
    loginModel.RedirectUrl = "/";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


@if (ViewData.TryGetTwoFactorProviderNames(out var providerNames))
{

    foreach (var providerName in providerNames)
    {
        <div class="2fa-form">
            <h4>Two factor with @providerName.</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            @using (Html.BeginUmbracoForm<UmbTwoFactorLoginController>(nameof(UmbTwoFactorLoginController.Verify2FACode)))
            {

                <text>
                    <input type="hidden" name="provider" value="@providerName"/>
                    Input security code: <input name="code" value=""/><br/>
                    <button type="submit" class="btn btn-primary">Validate</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </text>
            }
        </div>
    }

}
else
{

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      
      <div class="login-form">
        @using (Html.BeginUmbracoForm<UmbLoginController>(
            "HandleLogin", new { RedirectUrl = loginModel.RedirectUrl })) {
          
          <h4 class="text-center">Log in</h4>
          <hr class="login-hr"/>
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="mb-3">
            <label asp-for="@loginModel.Username" class="form-label"></label>
            <input asp-for="@loginModel.Username" class="form-control" />
            <span asp-validation-for="@loginModel.Username" class="form-text text-danger"></span>
          </div>

          <div class="mb-3">
            <label asp-for="@loginModel.Password" class="form-label"></label>
            <input asp-for="@loginModel.Password" class="form-control" />
            <span asp-validation-for="@loginModel.Password" class="form-text text-danger"></span>
          </div>

          <div class="mb-3 form-check">
            <input asp-for="@loginModel.RememberMe" class="form-check-input" />
            <label asp-for="@loginModel.RememberMe" class="form-check-label">
              @Html.DisplayNameFor(m => loginModel.RememberMe)
            </label>
          </div>

          <div class="d-flex align-items-center gap-2 mt-2">
            <button type="submit" class="btn btn-primary" style="border-radius: 50px; background-color: #3b5998; color:white">Log in</button>
            <span class="m-0">
              Don’t have an account?
              <a href="/register" style="color: #3b5998">Register</a>
            </span>
          </div>

        }
      </div>

    </div>
  </div>
</div>

}